body {
  background: #102840;
	font-family:'Questrial', sans-serif;
	color: #A3D0D6;
	font-size: 20px;
  margin: 5em auto;
  text-align: center;
}

ul {
	list-style-type: none;
  text-align: left;
}
textarea {
  background: #3A6B9C;
}
a:visited {
color: #6ADEBB;

}

#titlebar {
	margin: 0 auto;
	position:relative;
	text-align: center;
	font-weight: bold;
}


#search-container { 
	width: 500px;
	height: 35px;
	position: relative;
	margin: 0 auto;
	color: #777;
}

#search { 
	position: relative;
	margin: 0 auto;
	font-size: 20px;
	color: #515053;
	background: #DED3D7;

}
#left-container {
	float: left;
  margin-left: 2em;
}
#center-container{
  float:center;
  width:30em;
  position:relative;
  margin: 0 auto;
}
#right-container{
  float:right;
}

