body {
	font-family:'Questrial', sans-serif;
	color: #FFA200;
	font-size: 20px;
}

ul {
	float:left;
	list-style-type: none;
}

#titlebar {
	margin: 0 auto;
	position:relative;
	text-align: center;
	font-weight: bold;
}


#search-container { 
	width: 500px;
	height: 35px;
	position: relative;
	margin: 0 auto;
	color: #777;
}

#search { 
	width: 500px;
	height: 35px;
	position: relative;
	margin: 0 auto;
	font-size: 20px;
	color: #515053;
	background: #DED3D7;

}
#left-container {
	float: left;
}
#interesting {
	width: 500px;
	padding-top: 20px;
	position: relative;
	margin: 3em auto;
}

#button {
	border-top: 1px solid #96d1f8;
	background: #78c9ff;
	background: -webkit-gradient(linear, left top, left bottom, from(#235b80), to(#78c9ff));
	background: -webkit-linear-gradient(top, #235b80, #78c9ff);
	background: -moz-linear-gradient(top, #235b80, #78c9ff);
	padding: 16px 32px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: white;
	font-size: 24px;
	text-decoration: none;
	position:relative;
	width: 500px;
	margin: 0 auto;
	text-align: center;
}
