<!doctype HTML>
<html>
  <head>
	<title>Search Song Lyrics for fun and profit?</title>
	<link rel='stylesheet' href='/static/css/styles.css' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
	<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js'></script>
  </head>
  <body>
  <div id='left-container'>
    <h2>Genres Considered</h2>
	  <ul id='genres'>
 	    <li>Rock</li>
	    <li>Pop</li>
	    <li>Indie</li>
      <li>Hip-Hop</li>
      <li>Folk</li>
      <li>Dance</li>
      <li>Metal</li>
      <li>Punk</li>
	  </ul>
  </div>
  <div id='center-container'>
    <form name='predict' action="/predict" method="POST">
      Enter your lyrics here, (possibly) predict what genre <i>you</i> think they are, and then click the button!
      <textarea cols="60" rows="20" id="lyrics" name="lyrics"></textarea><br />
      <input type="text" name="pred" value="got a prediction?" onfocus="this.value=''"></input>
      <input type="submit" name="thesubmit" value="predict!"></input>
    </form>
  </div>
	<!--<div id='right-container'>
	  <h1 id="titlebar">LYRICISM</h1>
	  <div id='search-container'>
      <form name='input' action='.' method='get'>
        <input id='search' name='q' type='text' autofocus></input>
        <input id='button' value='search lyrics database' type='submit'></input>
      </form>

	  </div>
  </div> -->
  </body>
</html>
